{% extends 'base.html.twig' %}

{% block title %} {{ loan.title }} {% endblock %}

{% block body %}
    <h1>Title: {{ loan.title }}</h1>
    <h2>ID: <b>{{ loan.id }}</b></h2>
    <h3>Start Date: <b>{{ loan.startDate|date('Y-m-d') }}</b></h3>
    <p> Description:<br>
        {{ loan.body }}
    </p>

    <hr>
    <p>
        <ul>
            <li>Amount: <b>{{ loan.amount|round(2) }}</b></li>
            <li>Months: <b>{{ loan.months }}</b></li>
            <li>Yearly Interest Rate: <b>{{ loan.yearlyInterestRate }}</b></li>

        </ul>
    </p>
    <a href="/">Go back</a>
    
    <hr>
    
    <table id="payments" class="table table-responsive table-striped">
            <thead >
                <tr>
                    <th class="align-middle">Month Number</th>
                    <th class="align-middle">Payment ID</th>
                    <th class="align-middle">Scheduled Payment Date</th>
                    <th class="align-middle">Monthly Payment Amount</th>
                    <th class="align-middle">Interest Pay</th>
                    <th class="align-middle">Base Pay</th>
                    <th class="align-middle cell-breakWord">Remaining base amount after pay</p>
                    
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ 1 }}</td>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.scheduledDate|date('d-m-Y') }}</td>
                        <td>{{ payment.fullAmountForPay|round(3) }}</td>
                        <td>{{ payment.interestAmountForPay|round(3) }}</td>
                        <td>{{ payment.baseAmountForPay|round(3) }}</td>
                        <td>{{ payment.remainingBaseAmountAfterPay|round(3)}}</d>
                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}